#review-container{
    margin: 20px 40px;
    background-color: #f8f8f8;
    padding: 10px 20px 20px 20px;
}
#review-container label{
    display: block;
}
#review-container h3{
    color: #f89e2d;
    font-size: 24px;
    font-weight: 700;
}
#review-container h3 span{
    font-size: 20px;
}
#review-container .review-hint{
    font-size: 16px;
    color: #2a3c54;
    font-weight: 400;
    margin-top: 10px;
}
#review-star span{
    font-size: 20px;
    color: #888;
}
#review-star b{
    font-size: 16px;
    color: #f89e2d;
}
#review-title{
    height: 40px;
}
.review-btn input{
    float: right;
    margin: 20px;
    width: 200px;
    height: 40px;
    background-color: #f89e2d;
    color: white;
    border: 1px solid #f89e2d;
    border-radius: 6px;
    font-size: 16px;
}
.review-btn input:hover{
    background-color: darkorange;
    border: 1px solid darkorange;
    font-weight: 700;
}